body{
    background-color:#F3EDFD;
    font-family: 'Lato', sans-serif;
    color: #230051;
}
* {
  box-sizing: border-box;
}
h1{
    text-align: center;
    padding-top: 21px;
}
h2{
    padding-top: 20px;
    margin-left: 60px;
}
h3{
    margin-top: 0;
}
select, input[type=date]{
    border: 2px solid #50248F;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
input[type=text]{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #50248F;
    padding: 7px;
}
input[type=submit], button{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-top: 5px;
    background-color: #50248F;
    color: white;
    border: none;
    padding: 9px;
    border-radius: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
}

.flex-item {
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 30px;
  flex: 50%;
  background-color:#FCFBFF;
  margin: 20px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid #c0aee0;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #c0aee0;
  }